<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>Facturas</title>

<link rel="stylesheet" href="css/redmond/jquery-ui-1.9.2.custom.min.css">
<script type="text/javascript" src="js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.9.2.custom.min.js"></script>

<style type="text/css">
    .centered {
        width: 240px;
        margin: auto;
        margin-top: 100px;
    }

    #result {
        margin-top: 1em;
    }
</style>
<script>
    $(function(){
        $('#date').datepicker({
            dateFormat: "yy-mm-dd"
        });

        $('#show-results').click(function(){
            $.ajax({
                url: "/facturas",
                data: {date: $('#date').val()}
            }).done(function(data){
                $('#result').html("<h3>" + data[1].name + "</h3>").css('color', 'black');
            }).fail(function(){
                $('#result').html("Error Dog 404 Shit").css('color', 'red');
            });
        });
    });
</script>
</head>
<body>
<div id="content">
    <div class="centered">
        <input type="text" id="date" />
        <button id="show-results">So?</button>
        <div id="result"></div>
    </div>
</div>
</body>
</html>
