<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>Faltan...</title>
<style type="text/css">
@import "css/jquery.countdown.css";

#defaultCountdown {
    width: 240px;
    height: 45px;
    margin: auto;
    margin-top: 200px;
}

#content {
}

</style>
<script type="text/javascript" src="js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="js/jquery.countdown.js"></script>
<script type="text/javascript">
$(function () {
	var austDay = new Date();
	austDay = new Date({{year}}, {{month}} - 1, {{day}}, {{hour}}, {{minutes}}, 0 ,0);
	$('#defaultCountdown').countdown({until: austDay});
	$('#year').text(austDay.getFullYear());
});
</script>
</head>
<body>
<div id="content">
    <div id="defaultCountdown"></div>
</div>
</body>
</html>
