<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>Facturas</title>

<link rel="stylesheet" href="/css/redmond/jquery-ui-1.9.2.custom.min.css">
<script type="text/javascript" src="/js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.9.2.custom.min.js"></script>

<style type="text/css">
    .centered {
        width: 240px;
        margin: auto;
        margin-top: 100px;
    }

    #result {
        margin-top: 1em;
    }
</style>
<script>
    $(function(){
        $('#date').datepicker({
            dateFormat: "yy-mm-dd",
            onSelect: function(d, inst){
                if($('#date').datepicker('getDate').toString().split(' ')[0] == 'Thu'){
                    $.ajax({
                        url: "/facturas",
                        data: {date: d}
                    }).done(function(data){
                        $('#result').html("<h3>" + data[1].name + "</h3>").css('color', 'black');
                        window.history.pushState({},'',  window.location.href.slice(0,1-window.location.pathname.length) + 'toca/' + d)
                    }).fail(function(){
                        $('#result').html("Error Dog 404 Shit").css('color', 'red');
                    });
                } else {
                    $('#result').html('Not Jueves!');
                }
            }
        });
        if("{{name}}" != ""){
            $('#result').html("<h3>{{name}}</h3>");
            $('#date').datepicker('setDate', "{{date}}")
        }
    });
</script>
</head>
<body>
<div id="content">
    <div class="centered">
        <div id="date"></div>
        <div id="result"></div>
    </div>
</div>
</body>
</html>
